### Cleaning the csv for import to postgres

In [1]:
import pandas as pd
import psycopg2
import sqlalchemy
import numpy as np
import matplotlib as plt

%matplotlib inline

In [17]:
beer = pd.read_csv('/beer_reviews.csv')

In [18]:
beer.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [23]:
# parse date
beer['review_time'] = pd.to_datetime(beer['review_time'],unit='s')
beer['review_time']

0         2009-02-16 20:57:03
1         2009-03-01 13:44:57
2         2009-03-01 14:10:04
3         2009-02-15 19:12:25
4         2010-12-30 18:53:26
                  ...
1586609   2006-11-05 00:01:32
1586610   2006-10-17 01:29:26
1586611   2006-10-13 01:21:53
1586612   2006-10-05 04:37:24
1586613   2006-10-04 23:41:59
Name: review_time, Length: 1586614, dtype: datetime64[ns]

In [34]:
# format date
beer['review_time'] = beer['review_time'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [42]:
#replace quote with space as needed to prevent errors in postgres import
beer['beer_style'] = beer['beer_style'].str.replace('\'', '', regex=False)
beer['brewery_name'] = beer['brewery_name'].str.replace('\'', '', regex=False)
beer['beer_name'] = beer['beer_name'].str.replace('\'', '', regex=False)
beer.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,2009-02-16 20:57:03,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,2009-03-01 13:44:57,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,2009-03-01 14:10:04,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,2009-02-15 19:12:25,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,2010-12-30 18:53:26,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [44]:
beer['review_overall'].describe()

count    1.586614e+06
mean     3.815581e+00
std      7.206219e-01
min      0.000000e+00
25%      3.500000e+00
50%      4.000000e+00
75%      4.500000e+00
max      5.000000e+00
Name: review_overall, dtype: float64

In [43]:
#write to new csv
beer.to_csv('beer7.csv', index=False)

In [38]:
beer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
brewery_id            1586614 non-null int64
brewery_name          1586599 non-null object
review_time           1586614 non-null object
review_overall        1586614 non-null float64
review_aroma          1586614 non-null float64
review_appearance     1586614 non-null float64
review_profilename    1586266 non-null object
beer_style            1586614 non-null object
review_palate         1586614 non-null float64
review_taste          1586614 non-null float64
beer_name             1586614 non-null object
beer_abv              1518829 non-null float64
beer_beerid           1586614 non-null int64
dtypes: float64(6), int64(2), object(5)
memory usage: 157.4+ MB

In [54]:
# connect Postgres db 
from sqlalchemy import create_engine

In [55]:
# the username and pw is 'postgres'
engine = create_engine("postgresql://postgres:postgres@localhost:5432/beerdata")
conn = engine.connect()

In [56]:
# test the conn with simple query and view tables at the same time
tables = pd.read_sql("SELECT * from information_schema.tables WHERE table_catalog = 'beerdata' AND table_schema = 'public'", conn)
tables.head()

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,beerdata,public,brew_data,BASE TABLE,None,None,None,None,None,YES,NO,None